<config>
    <modules>
        <Wik_Newsletterbox>
            <version>0.1</version>
        </Wik_Newsletterbox>
    </modules>
    <global>
        <helpers>
            <newsletterbox>
                <class>Wik_Newsletterbox_Helper</class>
            </newsletterbox>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <newsletterbox>
                    <file>wik_newsletterbox.xml</file>
                </newsletterbox>
            </updates>
        </layout>
    </frontend>
    <default>
        <newsletterbox>
            <newsletterbox_group>
                <newsletterbox_onoff>1</newsletterbox_onoff>
                <newsletterbox_jquery>1</newsletterbox_jquery>
                <newsletterbox_cookie>1</newsletterbox_cookie>
                <newsletterbox_colorbox>1</newsletterbox_colorbox>
                <!-- newsletterbox_default>0</newsletterbox_default -->
                <newsletterbox_home>1</newsletterbox_home>
                <newsletterbox_success>0</newsletterbox_success>
            </newsletterbox_group>
        </newsletterbox>
    </default>
</config>
